.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center; /* Centers the title text */
    margin-bottom: 1rem;
    line-height: 1.4; /* Improves readability */
}

.subtitle {
    font-size: 1.5rem; /* Slightly larger for emphasis */
    font-weight: 500;
    text-align: center; /* Centers the subtitle text */
    margin-bottom: 1rem;
    line-height: 1.4;
}

.description {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify; /* Aligns text evenly on both sides */
    margin-bottom: 1.5rem; /* Slightly larger space for better separation */
    line-height: 1.6; /* Makes paragraphs easier to read */
    padding: 0 1rem; /* Adds padding on left and right for better spacing */
}

/* Container for the cards, using grid layout */
.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 cards per row for heart valves */
    gap: 20px; /* Spacing between cards */
    justify-items: center; /* Center the cards horizontally within each grid cell */
    margin-top: 2rem;
}

/* Individual card styling */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%; /* Cards will take up 100% of the grid cell width */
    max-width: 300px; /* Maximum width to keep the cards uniform */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for cards */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card Title */
.card h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Card content */
.card p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.wideCardContainer {
    grid-template-columns: 1fr; /* Makes the CAD card take up the full row */
}

.wideCard {
    max-width: 600px; /* Increase the width of this card */
}

  .videoContainer {
    width: 77%; /* Make the container full width of its parent */
    max-width: 100%; /* Prevent it from growing too wide */
    margin: 0 auto; /* Center the video */
  }
  
  .videoContainer iframe {
    width: 100%; /* Set the iframe to take up the full width of the container */
    height: auto; /* Automatically adjust the height based on the width */
    aspect-ratio: 16/9; /* Maintain a 16:9 aspect ratio */
  }