.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center; /* Centers the title text */
  margin-bottom: 1rem;
  line-height: 1.4;
}

.downloadLink {
  display: block;
  font-size: 1.25rem;
  font-weight: 550;
  text-align: center; /* Centers the text */
  color: black;
  text-decoration: none;
  margin: 2rem 0; /* Adds space above and below the link */
  transition: color 0.3s ease;
}

.downloadLink:hover {
  color: #0056b3; /* Darker blue on hover */
}

.description {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  padding: 0 1rem;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 700px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImageOne {
  position: relative;
  aspect-ratio: 700/394;
  width: 100%;
  max-width: 700px;
  height: auto;
  
}

.cardImageOne img {
  border-radius: 4px;
}

.cardImageTwo {
  position: relative;
  aspect-ratio: 700/992;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.cardImageTwo img {
  border-radius: 4px;
}

.cardImageThree {
  position: relative;
  aspect-ratio: 1;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.cardImageThree img {
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .card {
    width: 90%;
    max-width: 500px;
    padding: 1rem;
  }

  .description {
    font-size: 0.9rem;
    padding: 0 2rem;
  }

  .downloadLink {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    max-width: none;
  }

  .description {
    font-size: 0.8rem;
    padding: 0 1rem;
  }

  .downloadLink {
    font-size: 1.5rem;
  }
}
